In [9]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("2015-16-premier-league.csv")
df.head()

           Team Name  Wins  Draws  Losses
0     Leicester City    23     12       3
1            Arsenal    20     11       7
2  Tottenham Hotspur    19     13       6
3    Manchester City    19      9      10
4  Manchester United    19      9      10

In [6]:
df["Wins"].median()

12.0

In [10]:
np.std(df, axis=0)

Wins      4.819492
Draws     2.123676
Losses    5.659284
dtype: float64

In [14]:
q75, q25 = np.percentile(df["Wins"], [75 ,25])
iqr = q75 - q25
iqr

7.5